First, import sqlite3 and establish a connection to the database dogs.db. Then, create a cursor object so that you can pass SQL queries to the database.

In [1]:
#import sqlite, create a connection and then a cursor object.
import sqlite3
conn = sqlite3.Connection('dogs.db')
cur = conn.cursor()

Select the name and breed for all female dogs

In [2]:
cur.execute("""SELECT name, breed FROM dogs WHERE gender = 'F';""").fetchall()

[('Little Ann', 'coonhound'),
 ('Pickles', 'black lab'),
 ('Lassie', 'collie'),
 ('Snowy', 'fox terrier')]

Select the names of all dogs listed in alphabetical order. Notice that SQL lists the nameless dog first.

In [3]:
cur.execute("""SELECT name FROM dogs ORDER BY name;""").fetchall()

[(None,),
 ('Clifford',),
 ('Lassie',),
 ('Little Ann',),
 ('McGruff',),
 ('Pickles',),
 ('Scooby',),
 ('Snoopy',),
 ('Snowy',)]

Select any dog that doesn't have a name

In [4]:
cur.execute("""SELECT * FROM dogs WHERE name IS NULL;""").fetchall()

[(9, None, 4, 'M', 'golden retriever', 'playful', 1)]

Select the name and breed of only the hungry dogs and lists them from youngest to oldest

In [7]:
cur.execute("""SELECT name, breed FROM dogs WHERE hungry = 1 ORDER BY age;""").fetchall()

[('Snoopy', 'beagle'),
 ('Clifford', 'big red'),
 (None, 'golden retriever'),
 ('Scooby', 'great dane'),
 ('Lassie', 'collie'),
 ('Pickles', 'black lab')]

Select the oldest dog's name, age, and temperament

In [8]:
cur.execute("""SELECT name, age, temperament FROM dogs ORDER BY age DESC LIMIT 1;""").fetchall()

[('Pickles', 13, 'mischievous')]

Select the three youngest dogs

In [9]:
cur.execute("""SELECT * FROM dogs ORDER BY age ASC LIMIT 3;""").fetchall()

[(1, 'Snoopy', 3, 'M', 'beagle', 'friendly', 1),
 (6, 'Clifford', 4, 'M', 'big red', 'smiley', 1),
 (9, None, 4, 'M', 'golden retriever', 'playful', 1)]

Select the name and breed of only the dogs who are between five and ten years old

In [10]:
cur.execute("""SELECT name, breed FROM DOGS WHERE age BETWEEN 5 AND 10 ORDER BY age DESC;""").fetchall()

[('McGruff', 'bloodhound'),
 ('Snowy', 'fox terrier'),
 ('Lassie', 'collie'),
 ('Scooby', 'great dane'),
 ('Little Ann', 'coonhound')]

Select the name, age, and hungry columns for hungry dogs between the ages of two and seven. This query should also list these dogs in alphabetical order.

In [14]:
cur.execute("""SELECT name, age, hungry 
FROM dogs 
WHERE hungry = 1 
AND 
age BETWEEN 2 AND 7 
ORDER BY name;""").fetchall()

[(None, 4, 1),
 ('Clifford', 4, 1),
 ('Lassie', 7, 1),
 ('Scooby', 6, 1),
 ('Snoopy', 3, 1)]